@import url(https://fonts.googleapis.com/css?
  family=Arimo:400,400italic,700,700italic);

@font-face {
  font-family: 'Walkway';
  src: url(walkway/WalkwayUpperBold.ttf);
}

@font-face {
  font-family: 'Arimo';
  src: url(https://fonts.googleapis.com/css?family=Arimo);
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Walkway', 'Open Sans', sans-serif;;
}

main {
  z-index: 2;
  position: relative;
  height: 100vh;
  /*background-color: #2D3142;*/
  background-color: #4D4D4D;
  -webkit-transition: transform .7s ease-in-out;
}

section {
  height: 100%;
  width: 100%;
}

.screen {
  z-index: 3;
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-right: 400px;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 400px);
  height: calc(100vh - 70px);
  text-align: center;
}

.screen.text.hide {
  z-index: 0;
}

.homeScreen {
  z-index: 2;
  position: relative;
  height: 100vh;
  /*background-color: #2D3142;*/
  background-color: #292929;
  -webkit-transition: transform .7s ease-in-out;
}

.homeScreen.show {
  z-index: 2;
}

.aboutText {
  z-index: 0;
  position: relative;
  color: #fff;
  text-decoration: none;
  /*text-transform: uppercase;*/
  font-size: 2em;
  position: relative;
  /*top: 100px;
  left: 40px;*/
}

.screen.about {
  z-index: 0;
  /*position: fixed;
  top: 0px;
  left: 0px;
  background: #000000;*/
}

.screen.about.show {
  z-index: 2;
}

.aboutText.show {
  z-index: 2;
}

.home {
  z-index: 3;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4em;
  position: relative;
  /*top: 10vh;*/
  -webkit-transition: color .3s ease-in-out;
}

.homeText {
  padding-top: 10px;
  margin: 0;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  position: relative;
  /*top: 40vh;*/
}

.home:hover {
  color: #C06014;
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #C06014;
}

.bar {
  z-index: 3;
  display: block;
  height: 5px;
  width: 50px;
  background-color: #FFF;
  margin: 10px auto;
  -webkit-transition: all .7s ease;
}

.bar.hover {
  background-color: #C06014;
  -webkit-transition: background-color .3s ease-in-out;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
}

.nav-right {
  position: fixed;
  z-index: 3;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease-in-out;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
}

nav {
  padding: 0;
  /*padding-top: 30px;*/
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 50px 0;
  opacity: 0;
  -webkit-transform: traslateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
}

.sidebar-anchor:hover::before {
  width: 100%;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}
